<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.l1.tp_2">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature
        android:name="android.hardware.sensor.accelerometer"
        android:required="true" />
    <uses-feature android:name="android.hardware.sensor.proximity" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/app_icon"
        android:label="Pokemon Cards Collection"
        android:roundIcon="@mipmap/app_icon_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Tp2"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".views.pokemon.PokemonActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".views.password_login.PasswordLoginActivity"
            android:exported="true" />
        <activity
            android:name=".views.mailVerification.MailSenderActivity"
            android:exported="true">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>

        <activity
            android:name=".views.register.RegisterActivity"
            android:exported="true" />
        <activity
            android:name=".views.login_historic.LoginHistoricActivity"
            android:exported="true" />
    </application>

</manifest>